{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }} | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li><a href="{% url 'marketing-about' %}">About</a></li>
      </ul>

      <a href="{% url 'marketing-home' %}" class="pure-menu-heading">
        <img class="icon" src="{% static 'img/icon.png' %}" alt="{{ site.name }}">
      </a>

      <ul>
        <li><a href="{% url 'marketing-contact' %}">Contact</a></li>
      </ul>
    </div>

    <div class="content-container">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <span class="pure-menu-heading">Copyright &copy; {% now "Y" %} Hurriyah Ltd. Co. All rights reserved.</span>

      <ul>
        <li><a href="{% url 'legal-privacy_policy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'legal-terms_of_service' %}">Terms of Service</a></li>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53852583-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

      $(function() {
        $('a[href^="http"]').click(function() {
          var url = $(this).attr('href');

          ga('send', 'event', 'outbound', 'click', url, {
            'hitCallback': function() {
              document.location = url;
            }
          });

          return false;
        });
      });
    </script>
  </body>
</html>