{% extends 'marketing/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block description %}lemme halalar atchu{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-2">
    <div class="l-box">
      <img class="pure-img splash" src="{% static 'img/splash.png' %}" alt="lemme halalar atchu">
    </div>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2">
    <div class="l-box">
      <h1>Halal hollering: coming soon!</h1>

      <!-- Begin MailChimp Signup Form -->
      <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/slim-081711.css">
      <div id="mc_embed_signup">
        <form action="//halalar.us8.list-manage.com/subscribe/post?u=4e2a40c26778b25b87e035e2b&amp;id=f39d84024f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Subscribe to our mailing list</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e2a40c26778b25b87e035e2b_f39d84024f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>

  <div class="pure-u-1 l-box">
    <a href="javascript:alert('Coming soon!')"><img class="pure-img download" src="{% static 'img/apple-app-store.png' %}" alt="Apple App Store"></a>
    <a href="javascript:alert('Coming soon!')"><img class="pure-img download" src="{% static 'img/google-play-store.png' %}" alt="Google Play Store"></a>
  </div>

  <div class="pure-u-1 l-box">
    <a href="http://facebook.com/halalarapp"><img class="social" src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
    <a href="http://twitter.com/halalarapp"><img class="social" src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
    <a href="http://instagram.com/halalarapp"><img class="social" src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
    <a href="http://google.com/+halalarapp"><img class="social" src="{% static 'img/google-plus.png' %}" alt="Google+"></a>
    <a href="http://youtube.com/halalar"><img class="social" src="{% static 'img/youtube.png' %}" alt="YouTube"></a>
    <a href="http://pinterest.com/halalar"><img class="social" src="{% static 'img/pinterest.png' %}" alt="Pinterest"></a>
    <a href="http://halalar.tumblr.com"><img class="social" src="{% static 'img/tumblr.png' %}" alt="Tumblr"></a>
  </div>
</div>
{% endblock %}