html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Oswald;
  text-align: center;
}

a {
  color: #ffffff;
}

.content-container {
  background-color: #ff9316;
}

.content {
  margin: 0 auto;
  max-width: 568px;
}

.pure-img {
  display: inline;
}

.l-box {
  padding: 1em;
}

.icon {
  width: 50px;
}

.splash {
  width: 250px;
}

.download {
  width: 250px;
}

.social {
  width: 57px;
}

.pure-form {
  text-align: left;
}

.errorlist {
  list-style-type: none;
  background-color: rgb(202, 60, 60);
  color: #ffffff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: .5em 1em;
}