body {
  margin: 0 auto;
  max-width: 1000px;
}

.pure-img {
  display: inline;
}

.l-box {
  padding: 1em;
}

.icon {
  width: 50px;
}

.download {
  width: 49%;
}

.social {
  width: 13%;
}

.errorlist {
  list-style-type: none;
  background-color: rgb(202, 60, 60);
  color: #ffffff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: .5em 1em;
}